@page "/"

<h1>Hello, Welcome to Blazor Webasembly (Hosted) client for WCF</h1>

<p>
    This client talks to following WCF clients as sample
</p>
<p>
    1.  WCF472SelfHost   Net Framework 4.72 Self Host
</p>
<p>
    2.  SoapCoreHost     Net 5 SoapCore driven self host
</p>
<p>

</p>
<p>
    Both clients use similar code technique use System.ServiceModel - see HelloWordService.cs for details
</p>
<p>
    For both to work together - Net Framework 4.72 and and Net 5 models and Intefaces
</p>
<p>
    Need to have same namespace.  Normal Blazor Webassembly will need more research to see if possible.
</p>
<p>
    WPF Net framework 4.7.2 and Net 5.0 clients also provided.
</p>
